@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* PAGE STYLE */

.t-head {
  background-color: #020e2a;
}

.t-head-l {
  text-align: left;
  padding: 6px 0;
}

.t-head-r {
  text-align: right;
  padding: 7px 0;
}

.t-head__list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.t-head__item {
  display: inline-block;
  color: #f9f9f9;
}

.t-head__item-l {
  padding-right: 20px;
}

.t-head__item-l i {
  color: #fab909;
  margin-right: 10px;
}

.t-head__rtspan {
  display: inline-block;
  color: #fab909;
  font-weight: 600;
  font-size: 15px;
}

.t-head__item-r {
  padding-left: 8px;
}

/* navbar style */
.nav-main {
  /* box-shadow: 0 1px 5px rgba(0,0,0,.4); */
}

.logo-img {
  max-width: 100%;
  height: auto;
  padding-top: 8px;
}

.nav-sublist {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: 0 0 0;
  position: absolute;
  left: 0;
  background-color: #fab909;
  text-align: left;
  z-index: 9999;
  transition: all .3s ease-in;
}

.nav-subitem {
  width: 200px;
}

.nav-sublink {
  width: 100%;
  display: inline-block;
  padding: 6px 19px;
  color: #020e2a;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in;
}

.nav-sublink:hover,
.nav-sublink:active {
  text-decoration: none;
  color: #fab909;
  background-color: #fff;
}

.nav-item {
  display: inline-block;
  position: relative;
}

.nav-item:hover > .nav-sublist {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.nav-link {
  display: inline-block;
  padding: 34px 16px;
  color: #020e2a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:active {
  color: #020e2a;
  text-decoration: none;
}

.nav-link i {
  font-size: 13px;
  margin-left: 6px;
}

.nav-search {
  display: inline-block;
  position: relative;
}

.nav-search:hover > .search-form {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fab909;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #020e2a;
  cursor: pointer;
  margin-left: 20px;
}

.search-form {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 61px;
  opacity: 0;
  transform: scale(0);
  transform-origin: 100% 0 0;
  transition: all .3s ease-in;
}

.search-form > form {
  display: inline-flex;
  padding: 10px;
  background-color: #fab909;
}

.search-input,
.search-submit {
  border: none;
  padding: 10px;
}

.search-input {
  line-height: inherit;
}

.search-submit {
  background-color: #020e2a;
  color: #fff;
}